main {          
    margin-top: 100px;
    background: url(../img/fundo-principal.jpg);
    background-size: 100%;  
}
.titulo {
    display: grid;
    grid-template-columns: repeat(28 , 50px);
}
h1 {
    font-size: 100px;
    color: #d3d3d3;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    grid-column: 10;
    text-shadow: 3px 3px #000000;
}
.grid-portfolio {
    display: grid;
    grid-template-columns: repeat(7 , 300px);
    grid-template-rows: repeat(4 , 245px);
    column-gap: 0.5rem;
    row-gap: 40px;
}
.cartao {
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
    border: 1px solid url(../img/fundo-cartao.jpg);
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 5px 5px #808080;
    margin-left: 30px;
}
.cartao__imagem {
  width: 100%;  
  border-radius: 5px;
}
.cartao__titulo {
    color: #000000;
    font-size: 25px;
    margin-top: 5px;
}
.grid__botao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
    gap: 8px;
}
.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    border-radius: 15px;
    border: 5px solid #000000;
    font-size: 1.1rem;
    justify-self: flex-end;
    gap: 3px;
}
.cartao__botao--pagina::before {
    content: url("https://img.icons8.com/ios-glyphs/30/000000/internet--v1.png");
    font-size: 24px;
    transition: 0.5s;
}
.cartao__botao--pagina:hover {
    background-color: #b0e0e6;
}
.cartao__botao--codigo::before {
    content: url("https://img.icons8.com/ios-glyphs/30/000000/source-code.png");
    font-size: 24px;
    margin-top: 1px;
}
.cartao__botao--codigo:hover {
    background-color: #b0e0e6;
}
.botao--pagina {
    width: 100%;
}
.botao--codigo {
    width: 100%;
}
.cartao__botao--destaque::before {
    margin-right: 8px;
}
.cartao__star--wars {
    grid-row: 1;
    grid-column: 2;
}
.cartao__apeperia {
    grid-row: 1;
    grid-column: 3;
}
.cartao__hzc {
    grid-row: 1;
    grid-column: 4;
}
.cartao__moedas {
    grid-row: 2;
    grid-column: 1;
}
.cartao__casa-verde {
    grid-row: 2;
    grid-column: 2;
}
.cartao__curriculo {
    grid-row: 2;
    grid-column: 3;
}
.urso-fundo {
    width: 200vh;
    opacity: 0.3;
    grid-row: 3;
    grid-column: 1;
}
